{% extends "layout.html" %}

{% block title %}{{ student.username }} | r-school{% endblock %}

{% block home_active %}{% endblock %}
{% block news_active %}{% endblock %}
{% block admin_active %}{% endblock %}
{% block students_active %}active{% endblock %}
{% block schedules_active %}{% endblock %}
{% block signup_active %}{% endblock %}
{% block login_active %}{% endblock %}
{% block about_active %}{% endblock %}
{% block feedbacks_active %}{% endblock %}

{% block maincontent %}

<div class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-3 sideprofile">
                <div class="card bg-dracula shadow-dracula fg" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/profile/' + student.profile) }}" alt="{{ student.username }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ student.lastname }} {{ student.firstname }}</h5>
                      <p class="card-text">
                          <span class="username">@{{ student.username }}</span>
                      </p>
                      <div class="dflex flex-row">
                        <a href="#" class="btn btn-dracula"><i class="fa fa-send"></i> Contact</a>
                        <a href="#" class="btn btn-dracula-alt"><i class="fa fa-bullhorn"></i> Report</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
